.notificacoes-page {
  min-height: calc(100vh - 90px);
  display: flex;
  background: #1f2428;
}

.notificacoes-content {
  flex: 1;
  padding: 50px;
  color: #ffffff;
}

.notificacoes-content h1 {
  margin-bottom: 15px;
  font-size: 32px;
}

.notificacoes-content p {
  color: #aebbc2;
  font-size: 17px;
}
